/* Style the HTML elements according to the following instructions. 
DO NOT ALTER THE EXISTING HTML TO DO THIS.  WRITE ONLY CSS!*/

/* 1.4.1 Give the <body> element a background of #bdc3c7*/
body {
  background: #bdc3c7;
}

/* 1.4.2 Make the <h1> element and <h2> element #9b59b6*/
h1, h2 {
  color: #9b59b6;
}

/* 1.4.3 Make the odd <li> elements blue*/
li:nth-child(odd) {
  color: blue;
}

/* 1.4.4 Change the background on every paragraph to yellow */
p {
  background: yellow;
}

/* 1.4.5 Make all inputs have a 3px red solid*/
input {
  border: 3px solid red;
}

/* 1.4.6 Give the <p> element with the class 'hello' a white background*/
p.hello {
  background: white;
}

/* 1.4.7 Give the element with id 'special' a 2px solid blue border*/
#special {
  border: 2px solid blue;
}

/* 1.4.8 Make all the <p>'s that are nested inside of divs 25px font(font-size: 25px)*/
div p {
  font-size: 25px;
}

/* 1.4.9 Make only inputs with type 'text' have a gray background*/
input[type="text"] {
  background: gray;
}

/* 1.4.10 Give both <p>'s inside the 3rd <div> a pink background*/
div:nth-of-type(3) p {
  background: pink;
}

/* 1.4.11 Give the 2nd <p> inside the 3rd <div> a 5px white border*/
div:nth-of-type(3) p:nth-of-type(2) {
  border: 5px solid white;
}

/* 1.4.12 Make all "checked" checkboxes have a left margin of 50px(margin-left: 50px)*/
input[type="checkbox"]:checked {
  margin-left: 50px;
}

/* 1.4.13 Make the first letter of the element with id 'special' green and 100px font size(font-size: 100)*/
#special::first-letter {
  color: green;
  font-size: 100px;
}

/* 1.4.14 Make the <a> element's that have been visited gray */
a:visited {
  color: gray;
}
